/*@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?5nppzg');
  src:url('../fonts/icomoon.eot?#iefix5nppzg') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5nppzg') format('truetype'),
    url('../fonts/icomoon.woff?5nppzg') format('woff'),
    url('../fonts/icomoon.svg?5nppzg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*body{
  font-family: Corbel, century gothic, helvetica;  
  font-size: 14px;
}*/

/*input[type=text], input[type=password], input[type=button], input[type=submit] {
  width: 100%;
  border-radius: 5px;
}*/

/*input[type=checkbox]
{
    display: inline-block;
    padding: 0.5em;    
}*/

/*hr{
  border-top: 1px solid #167aad;
}*/

/*.grad1 {
    background: -webkit-linear-gradient(#89A1BD, #456592);
    background: -o-linear-gradient(#89A1BD, #456592);
    background: -moz-linear-gradient(#89A1BD, #456592);
    background: linear-gradient(#89A1BD, #456592);
}
.grad2 {
    background: -webkit-linear-gradient(#CA84A0, #B8527A  );
    background: -o-linear-gradient(#CA84A0, #B8527A );
    background: -moz-linear-gradient(#CA84A0, #B8527A );
    background: linear-gradient(#CA84A0, #B8527A  );
}*/
/*.title_orden {
  color: #2C6494;
}
*/
/*.navbar {
  box-shadow: 0px 0px 20px black;
  margin: 0px;
}*/

.header {
  background: #214B6F;
  border-bottom: 1px solid black;
}

.menu_header {
  color: white;
  font-size: 16px;
  padding: 10px 0px;
}

.img_header {
  max-width: 36px !important;
}

.link_header {
  padding: 10px 2px !important;
}

/*.card-container {
  height: 50px;
  -webkit-perspective: 600;
  perspective: 600;
  position: relative;
  width: 50px;
  cursor: pointer;
}*/

/*.card {
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 100%;
}
.card:hover {
  -ms-transform: rotateY(180deg); 
  -webkit-transform: rotateY(180deg); 
  transform: rotateY(180deg);  
}
.card .side {
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  -ms-transform: rotateY(180deg); 
  -webkit-transform: rotateY(180deg); 
  transform: rotateY(180deg);
}*/


.titulo_pagina {
  background: #2C6494;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 20px 0px;
}

.container_text {
  padding: 15px;  
  color: gray;
}

.tabla_orden {
  border-radius: 20px;
  font-size: 18px;
  font-family: Arial;
  color: black;
  box-shadow: 0px 8px 30px;
  text-align: center;
  overflow: hidden;
  max-width: 300px;
  color: #4D4D4D;
}

.td_tabla_orden {
  background: #DDDDDD;
}

.link_footer, .link_header {
  color: white;
  text-decoration: none;
}

.link_footer:hover, .link_header:hover {
  color: white;
  text-decoration: underline;
}

.footer {
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 10px 0px;
  width: 100% !important;
}

footer {
  background: #214B6F;
  border-top: 1px solid black;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

/*.sort
{
  cursor: pointer;
}

.icon-circle-up:after {
  margin-left: 0.5em;
  content: "\e600";
}

.icon-circle-down:after {
  margin-left: 0.5em;
  content: "\e601";
}

.panel-black > .panel-heading
{
  background-color: #4d4d4d;
  color: white;  
  font-weight: bold;
  text-align: center;
}
.panel-black > .panel-body
{  
  border-color: #4d4d4d;
  border: 1px solid rgba(77,77,77,0.32);
}*/
